
html, body {
    height: 100%;
}

body{
    max-width: 350px;
    margin: auto;
}
main{
    
    border: 10px solid black;
    margin-top: 30px;
    margin-bottom: -1px;
  
}
h1,h2,p{
    margin-bottom: 2px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.288);
}
.img{
    display:inline;
}
.text{
    display:inline;
}
footer{
    background-color: black;
    color: white;
}
p{
    margin:0px;
    height: 30px;
    padding-top: 10px;
}
textarea{
    text-transform: capitalize;
    background-color: green;
    color:white;
    font-size: bolder;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    width: 200px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}
.botao{
       
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    font-size: 0.6em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
    height: 50px;
    width: 90px;
    margin-bottom: 5px;
    margin-top: 7px;
    

}
.buttons{
    display:flex;
    justify-content: space-around;
    align-content: center;
    margin:auto;
}

#frase{
    
    width: 90%;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
}